<div class="header">
  <h2>Interface Foundry</h2>
</div>

<div class="row marketing">



  <div ng-repeat="row in groupsSortedByRow" class="row">

    <div class="col-xs-12 col-md-{{12 / columns}} col-md-{{12 / columns}} group" ng-repeat="group in row">
      <div ng-repeat="item in group" class="item">
        <div ng-if="$index == 0" ng-click="openModal(item)"  class="top-item">
          <div class="left-head">
            <h2>{{item.name}}</h2>
            <h4>{{item.subType}}</h4>
          </div>
          <div class="right-head">
            <span ng-if="item.subType === 'Lecture'" class="lecture">▴</span>
            <span ng-if="item.subType === 'Show'" class="show">●</span>
            <span ng-if="item.subType === 'Award Nominee'" class="award-nominee">■</span>
          </div>
          <div class="description">
            <h4 ng-if="item.shortDescription">{{item.shortDescription}}</h4>
            <h4 ng-if="!item.shortDescription">No description available.</h4>
          </div>
        </div>

        <div ng-if="$index != 0" ng-click="toTop(item, group)" class="bottom-item">
          <h4>{{item.name}}</h4>
        </div>

      </div>
    </div>

  </div>


</div>

<div id="modal" ng-if="modal.show === true" style="clear:both;">
  <div id="fade" ng-click="closeModal()"></div>
  <div id="modal-window">
    <div id="modal-header">
      <h1>{{modal.name}}</h1>
    </div>
    <div id="modal-subtype">
      <h1 ng-if="modal.subType === 'Lecture'" class="lecture">{{modal.subType}}</h1>
      <h1 ng-if="modal.subType === 'Show'" class="show">{{modal.subType}}</h1>
      <h1 ng-if="modal.subType === 'Award Nominee'" class="award-nominee">{{modal.subType}}</h1>
    </div>
    <div id="modal-content">
      <h2>{{modal.shortDescription}}</h2>
      <h2 ng-if="!modal.shortDescription">No description available.</h2>
    </div>

    <!-- <a href="" ng-click="closeModal()">close me</a> -->
  </div>

</div>
