<div class="header">
  <h3 class="text-muted">code_test</h3>
</div>

<div class="row marketing">



  <div ng-repeat="row in groupsSortedByRow" class="row">

    <div class="col-xs-12 col-md-{{12 / columns}} col-md-{{12 / columns}} group" ng-repeat="group in row">
      <div ng-repeat="item in group" class="item">
        <div ng-if="$index == 0" ng-click="openModal(item)"  class="top-item">
          <div class="left-head">
            <h2>{{item.name}}</h2>
            <h3>{{item.subType}}</h3>
          </div>
          <div class="right-head">
            <h1 ng-if="item.subType === 'Lecture'" class="lecture">▲</h1>
            <h1 ng-if="item.subType === 'Show'" class="show">⬤</h1>
            <h1 ng-if="item.subType === 'Award Nominee'" class="award-nominee">⬛</h1>
          </div>
          <div class="description">
            <p ng-if="item.shortDescription">{{item.shortDescription}}</p>
            <p ng-if="!item.shortDescription">No description available.</p>
          </div>
        </div>

        <div ng-if="$index != 0" ng-click="toTop(item, group)" class="bottom-item">
          <h4>{{item.name}}</h4>
        </div>

      </div>
    </div>

  </div>


</div>

<div id="modal" ng-if="modal.show === true">
  <p>{{modal.name}} - {{modal.subType}} - {{modal.shortDescription}}</p>
  <a href="" ng-click="closeModal()">close me</a>


</div>

<div class="footer">
  <p><span class="glyphicon glyphicon-heart"></span> Interface Foundry</p>
</div>
